
@{
    ViewBag.Title = "footer";
    Layout = null;
}

<table class="table table-borderless table-sm">
    <tr>
        <td align="center" class="border-top border-dark" style="font-size: 0.9rem">
            (Cần kiểm tra, đối chiếu khi lập, giao nhận hóa đơn)<br>
            (Khởi tạo từ phần mềm OnFinance.asia - Công ty cổ phần tập đoàn truyền thông và công nghệ NOVA)
        </td>
    </tr>
</table>

