
@{
    ViewBag.Title = "header";
    Layout = null;
}


<div class="flex-grow-1">
    <b><font size="4">CÔNG TY CỔ PHẦN MẠNG QUẢNG CÁO NOVAON</font></b><br>
    Mã số thuế <i>(Tax code)</i>: 0106616790<br>
    Địa chỉ <i>(Address)</i>: Tầng 6 tòa nhà MD Complex (tòa VP) số 68 Nguyễn Cơ Thạch, Phường Cầu Diễn, Quận Nam Từ Liêm, Thành phố Hà Nội, Việt Nam<br>
    Điện thoại <i>(Tel)</i>: <br>
    Số tài khoản <i>(Acct.No)</i>:
</div>