@{
    ViewBag.Title = "Index";
    ViewBag.Description = "Home Page";
}
<style>
    img {
        display: block;
        margin: 0 auto;
        max-width: 50%
    }
</style>
<div class="row">
    <div class="col-md-12 text-center">
        <img src="~/Images/logo.png" />
    </div>


</div>
