<div id="modal_invoice_note" style="display: none;" title="Ghi chú cho hóa đơn">
    <div class="form-group">
 
        <div>
            <textarea #name class="form-control form-control-sm invoice-note" rows="10" placeholder="Ghi chú hóa đơn..." ng-model="Invoice.NOTE" autofocus>{{Invoice.NOTE}}</textarea>
        </div>
    </div>
    @*<div class="modal-footer d-flex justify-content-between p-0 pt-2">
            <div class="d-flex justify-content-end">
                <button class="btn btn-success mr-3"> <span class="fa fa-paper-plane"></span> &nbsp; Gửi </button>
            </div>
        </div>*@
</div>
