<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=Admin;database=Saleman;User ID=sa;password=sa;integrated security=False;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <appSettings>
    <!--Nhớ sửa đường dẫn lại khi copy lên server-->
    <add key="LogPath" value="D:\NOVAON\Logs\" />
    <add key="NOVAON_CacheFilePath" value="D:\NOVAON\Cache\cache.txt" />
    <add key="NOVAON_AppId" value="25af7a6fe8c1dc29cbef9349084e63cd" />
    <!--Khoảng thời gian quét database (phút)-->
    <add key="SetIntervalTime" value="5" />
    <!--Url Api-->
    <add key="NOVAON_GetTokenUrl" value="https://api.onfinance.asia/api/onfinance/home/v21/gettoken1" />
    <add key="NOVAON_InvoiceApiUrl" value="http://localhost:51233/api/onfinance/home/v21/postcreatelistinvoice" />
    <!--<add key="NOVAON_InvoiceApiUrl" value="https://api.onfinance.asia/api/onfinance/home/v21/postcreatelistinvoice" />-->
    <!--Enterprise Information-->
    <!--<add key="NOVAON_OrgComtaxcode" value="0100366745" />-->
    <add key="NOVAON_OrgComtaxcode" value="0106475966" />
    <add key="NOVAON_OrgAddress" value="Doanh Nghiệp 123" />
    <add key="NOVAON_OrgComName" value="Doanh Nghiệp 123" />
    <add key="NOVAON_OrgUsingInvoiceType" value="0" />
    <add key="NOVAON_OrgTaxRate" value="1" />
    <add key="NOVAON_OrgFormCode" value="01GTKT0/001" />
    <add key="NOVAON_OrgSymbolCode" value="AA/20E" />
    <add key="SetDateTime" value="Y" />
    <add key="SetDateTimeValue" value="2020-08-06 16:53:00" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
</configuration>