<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Điều hướng</li>
            <li class="">
                <a href="/Home/Index"><i class="fa fa-home"></i> <span>Trang chủ</span></a>
            </li>
            <li class="">
                <a href="/Manager/Company"><i class="fa fa-building-o"></i>Thông tin doanh nghiệp</a>
            </li>
            <li class="">
                <a href="/Manager/User"><i class="fa fa-user"></i>Thông tin khách hàng</a>
            </li>
            <li class="">
                <a href="/InfoCom/Index"><i class="fa fa-user"></i>hosodoanhnghiep.vn</a>
            </li>
            @*<li class="">
                <a href="/InfoInvoice/Index"><i class="fa fa-file-text"></i>Hóa đơn chờ</a>
            </li>*@
            @*<li class="treeview">
            <a href="#">
                <i class="fa fa-users"></i> <span>Onfinance</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="/Manager/Company">Thông tin doanh nghiệp</a>
                </li>
                <li>
                    <a href="/Manager/User">Thông tin khách hàng</a>
                </li>
            </ul>
        </li>*@
        </ul>
    </section>
</aside>