<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Plugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="signatureLeft" value="12"/>
    <add key="signatureBottom" value="5"/>
    <add key="signatureWidth" value="6.0"/>
    <add key="signatureHeight" value="4.0"/>

    <!--add key="stampLeft" value="11.8"/-->
    <add key="stampLeft" value="12.6"/>
    <add key="stampBottom" value="3.2"/>
    <add key="stampWidth" value="6.0"/>
    <add key="stampHeight" value="3.0"/>
    
    <add key="SigTextSize" value="7"/>
    <add key="SoTextSize" value="14"/>
    <add key="ValidateCertificate" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <Plugin.Properties.Settings>
      <setting name="CMC_Plugin_vn_gov_ca_ap_APWS" serializeAs="String">
        <value>https://ap.ca.gov.vn/apws.asmx</value>
      </setting>
    </Plugin.Properties.Settings>
  </applicationSettings>
</configuration>
