<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/mini-logo.png" type="image/x-icon">

    <meta name=keywords content="Novaon">
    <meta data-react-helmet="true" name="description" content="Novaon ✅" />
    <link rel=canonical href="https://onfinance.asia/">
    <meta http-equiv=x-dns-prefetch-control content="on">
    <meta name=robots content="index, follow">
    <meta name=theme-color content="#2CA01C">
    <meta name=format-detection content="telephone=no">
    <meta http-equiv=audience content="General">
    <meta name=resource-type content="Document">
    <meta name=distribution content="Global">
    <meta name=revisit-after content="1 days">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta http-equiv=x-dns-prefetch-control content="on">

    <meta itemprop="name" content="Novaon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/icofont.min.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Content/novaon.review.min.css?v=3">

    <script>
        //APP URI
        var appUri = "";
    </script>

</head>
<body>
    <div class="cover-bg"></div>
    @RenderBody()

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/novaon.review.js"></script>
    <script src="~/Enum/EnumInvoice.js"></script>
    <script src="~/Resources/ErrorResources.js"></script>
    <script src="~/Resources/SystemResource.js"></script>
</body>
</html>
