<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="ConnectionStringDS" connectionString="Server=34.87.148.235;Port=5432;User Id=postgres;Password=X7@2020;Database=einvoice;Pooling=false;Timeout=300;CommandTimeout=300" providerName="System.Data.SqlClient" />
        <!--<add name="ConnectionStringDS" connectionString="Server=35.240.181.82;Port=5432;User Id=postgres;Password=Novaon@2020;Database=einvoice;Pooling=false;Timeout=300;CommandTimeout=0" providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <appSettings>
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="ES_IP" value="http://35.240.181.82:9200" />
        <add key="URLTaxCode" value="http://taxcode.onfinance.asia/?taxcode=" />
        <add key="URLCurrency" value="http://dongabank.com.vn/exchange/export" />
        <add key="FileLogPath" value="D:/Logs" />
        <add key="OutputSignedInvoiceFolder" value="NOVAON_FOLDER" />
        <add key="InputInvoiceFolder" value="NOVAON_FOLDER" />
        <!--Thông tin email-->
        <!--<add key="UsernameEmail" value="onfinance@novaon.asia" />
    <add key="PasswordEmail" value="!@#123qwe" />-->
        <add key="UsernameEmail" value="tuyennv@novaon.vn" />
        <add key="PasswordEmail" value="Novaon@123" />
        <add key="ImageFolder" value="NOVAON_FOLDER" />
        <add key="SessionUser" value="ONFINANCE-USER" />
        <add key="UriInvoiceFolder" value="http://localhost:59637/NOVAON_FOLDER" />
        <add key="UriAppAddress" value="http://localhost:59637/{0}" />

        <add key="DefaultComTaxCode" value="0106507946-789" />
        <add key="UriEnterpriseInfo" value="https://dichvuthongtin.dkkd.gov.vn/inf/default.aspx" />
        <add key="UriEnterpriseInfoSearch" value="https://dichvuthongtin.dkkd.gov.vn/inf/Public/Srv.aspx/GetSearch" />

        <!--truongnv cấu hình api bên cyber ký số-->
        <add key="CyberApiUrl" value="http://demoapi.cyberhsm.vn/api/xml/sign/invoicedatav1" />
        <add key="CyberApiId" value="a8ff044d4cff44e5bf044d4cff34e526" />
        <add key="CyberSecret" value="NzRmMTg5NGEzNDQwYTMzYzBkNjY2ODc1N2YyN2FjNjM2NzhmMGYxYTI1MjBkMTQ2NmMyMzIzZjdkNjY0YjA3NQ==" />
        <!--truongnv #end cấu hình api bên cyber ký số-->

        <!--tuyennv abc xyz-->
        <add key="FirstPage" value="27;35" />
        <add key="NPage" value="27;35" />
        <add key="LastPage" value="15" />
        <!--tuyennv #end abc xyz-->

        <add key="AllowSigningNumberoOfInvoice" value="50" />
        <!--access token để gửi tin zalo-->
        <add key="AccessTokenZalo" value="qy__G8K4_Y3LolzEZWNoAT_D_aoE7Q0tbeMaBgi_s32RZ9eNZ0Jv4hsz_0A9AvmJZwJV9hfZl3MsrjmQf16Z1OZSvI2j4hSQeR_79hSjjYYYcDqoYpQB2BtyYpIyO_SFiSga5QLizH6byua-Ya7oMzxydZt5ISGxyzx5FjnpjY_ltEe8-5Uj4QFQocg0Hv5ubixJL9nqX4IBvlnJtLUTCudXw07RBBqcpuR4DluMkLR9eCTpaps5Iwcsvsgb08LbXilzK8b5ltVVyyL3t6wQUz7avdlrMvzWPMB-D5Q27_ak" />
        <add key="MessageZalo" value="{0} gửi cho bạn hóa đơn điện tử, tổng tiền thanh toán {1} VNĐ. Quý khách vui lòng xem chi tiết hóa đơn theo file đính kèm bên dưới." />
        <add key="owin:appStartup" value="SPA_Invoice.Startup" />
        <add key="owin:AutomaticAppStartup" value="true" />

        <!--<add key="Test" value="D:\webs\invoice\test.e.oninvoice.asia\NOVAON_FOLDER" />-->
        <add key="Test" value="D:\X7\SPA_Invoice\SPA_Invoice\NOVAON_FOLDER" />

    </appSettings>
    <system.web.extensions>
        <scripting>
            <webServices>
                <jsonSerialization maxJsonLength="819200000" />
            </webServices>
        </scripting>
    </system.web.extensions>

    <system.web>
        <compilation debug="true" targetFramework="4.0.0" />
        <httpRuntime targetFramework="4.5.2" maxRequestLength="819200000" />
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-17.3451.0.21" newVersion="17.3451.0.21" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
    <system.webServer>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
    </system.webServer>
</configuration>
