@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><a href="javascript:Sign();" class="btn btn-primary btn-lg">Ký số</a></p>
</div>
<script src="~/Scripts/Home/Base64.js"></script>
<script src="~/Scripts/Home/Plugin.js"></script>
<script src="~/Scripts/Home/Home.js"></script>
