<div class="account-setting-area" ng-controller="SettingsController" ng-init="GetUserInfo()">
    @if (@ViewBag.User != null)
    {
        <input type="hidden" id="userComAddressSession" value="@ViewBag.User.COMADDRESS" />
        <input type="hidden" id="userComNameSession" value="@ViewBag.User.COMNAME" />
        <input type="hidden" id="userComTaxCodeSession" value="@ViewBag.User.COMTAXCODE" />
    }
    <div class="bg-white border">
        <div class="btn-filter mt-3 account-setting-content">
            <div class="card card-body border-0">
                <div class="row">

                    <div class="col-sm-12 col-md-6">
                        @*<div class="text-center">
                            <label class="d-flex align-items-center justify-content-center change-enterprise-logo">
                                <span>
                                    <img src="/Images/64px_image-add.png" aria-hidden="true" class="ng-pristine ng-untouched ng-valid ng-empty">
                                    <br />
                                    <text>Thay logo</text>
                                    <input type="file" accept=".jpg, .jpeg, .png" style="display: none;" custom-on-change="uploadFile">
                                </span>
                            </label>
                        </div>*@

                        <div class="col-12">
                            <h4 class="mb-3">Thông tin người dùng</h4>
                            <div class="row">
                                <div class="col-5">
                                    Họ và tên:
                                </div>
                                <div class="col-7">
                                    <input type="text" class="form-control" ng-model="User.FULLNAME" />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-5">
                                    Địa chỉ Email:
                                </div>
                                <div class="col-7">
                                    <input type="text" class="form-control" ng-model="User.EMAIL" />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-5">
                                    Số điện thoại:
                                </div>
                                <div class="col-7">
                                    <input type="text" class="form-control" ng-model="User.PHONENUMBER" />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-5">

                                </div>
                                <div class="col-7">
                                    <button class="btn btn-success" ng-click="SaveInfoUser()">Cập nhật</button>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-5">

                                </div>
                                <div class="col-7">
                                    <a href="">
                                        <span class="notify-link pt-2 text-success" ng-model="IsChangePass" ng-click="IsChangePass = !IsChangePass" ng-init="IsChangePass = false">Đổi mật khẩu</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row" ng-show="IsChangePass">
                    <div class="col-sm-12 col-md-6">
                        <div class="col-12 mt-3">
                            <h4 class="mb-3">Thay đổi mật khẩu</h4>
                            <div class="row" ng-hide="User.PASSWORDHIDDEN == null && User.PASSWORDTEMP == null">
                                <div class="col-5">
                                    Mật khẩu cũ:
                                </div>
                                <div class="col-7">
                                    <input type="password" class="form-control" ng-model="User.PASSWORDHIDDEN" placeholder="Nhập mật khẩu cũ của bạn." />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-5">
                                    Mật khẩu mới:
                                </div>
                                <div class="col-7">
                                    <input type="password" class="form-control" ng-model="User.NEWPASSWORD" placeholder="Mật khẩu mới phải có ít nhất 8 ký tự." />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-5">
                                    Nhập lại mật khẩu mới:
                                </div>
                                <div class="col-7">
                                    <input type="password" class="form-control" ng-model="User.RENEWPASSWORD" placeholder="Nhập lại mật khẩu mới." />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-5">

                                </div>
                                <div class="col-7">
                                    <button class="btn btn-default mb-1" ng-click="IsChangePass = false">Hủy</button>
                                    <button class="btn btn-success mb-1" ng-click="UserUpdatePassword()">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>