@{
    ViewBag.Title = "Thống kê phát hành trong tuần";
}

<div class="scrollable-content" ng-controller="ManagerController" ng-init="Statistic.STATUS = 1; GetStatisticTopTen(1)">

    <div class="box box-default">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <label><strong>Tiêu chí</strong></label>
                            <div class="">
                                <select class="form-control form-control-sm" ng-model="Statistic.STATUS" title="Lọc trạng thái" ng-change="GetStatisticTopTen(1)">
                                    <option value="" selected="selected">Tất cả</option>
                                    <option value="1"> Top 10 phát hành hóa đơn nhiều nhất</option>
                                    <option value="2"> Top 10 phát hành hóa đơn nhiều nhất tuần này</option>
                                    <option value="3"> Top 10 phát hành hóa đơn nhiều nhất tuần trước</option>
                                    <option value="4"> Top 10 phát hành hóa đơn nhiều nhất tháng này</option>
                                    <option value="5"> Top 10 phát hành hóa đơn nhiều nhất tháng trước</option>
                                    <option value="6"> Top 10 phát hành hóa đơn theo thời gian</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" ng-if="Statistic.STATUS == 6">
                    <div class="row">
                        <div class="col-6">
                            <label><strong>Từ ngày</strong></label>
                            <input type="date" ng-model="Statistic.FROMTIME" data-date-format="DD MMMM YYYY" id="pk_fromtime" class="w-100 form-control form-control-sm" />
                        </div>
                        <div class="col-6">
                            <label><strong>Đến ngày</strong></label>
                            <input type="date" ng-model="Statistic.TOTIME" data-date-format="DD MMMM YYYY" id="pk_totime" class="w-100 form-control form-control-sm">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label><strong>Tìm kiếm</strong></label>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" placeholder="Tìm theo MST, tên..." ng-model="Statistic.KEYWORD" />
                        <div class="input-group-append input-group-sm">
                            <button type="button" class="btn btn-sm btn-success" ng-click="GetStatisticTopTen(1)">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-body" style="padding: 10px 25px;">
            <div class="row text-right" style="margin: 0 ;color:black;">
                <div class="col">
                    <divpage pagemodel="intPage" totalpage="{{TotalPages}}" currentpage="{{currentPage}}" ng-click="Getforstatistics(intPage)"></divpage>
                </div>
            </div>
            <div class="row">
                <table class="table table-sm table-vertical-center table-head-green" style="font-size: 12px">
                    <thead class="bg-green">
                        <tr>
                            <th class="text-center border-warning" style="width:10px">STT</th>
                            <th class="text-center border-warning"> Tổng số PH</th>
                            <th class="border-warning"> Doanh nghiệp </th>
                            <th class="text-center border-warning"> Mẫu số - Ký hiệu</th>
                            <th style="width: 60px" class="text-right border-warning">Từ số</th>
                            <th style="width: 100px" class="text-right border-warning">Đến số</th>
                            <th style="width: 100px" class="text-right border-warning">Tổng số</th>
                            <th style="width: 100px" class="text-right border-warning">Đã PH</th>
                            <th style="width: 100px" class="text-center border-warning">Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ListInvoice" style="cursor:pointer">
                            <td class="border-warning text-center" style="cursor:pointer">{{(10 * (currentPage - 1) + $index + 1)}}</td>
                            <td class="border-warning text-center" style="cursor:pointer">{{item.TOTALUSEDNUMBER}}</td>
                            <td class="border-warning">
                                <strong>{{item.COMNAME}}</strong>
                                <div class="d-flex justify-content-between">
                                    <span class="text-secondary">MST: {{item.COMTAXCODE}}</span>
                                    <span ng-if="!item.ISFREETRIAL" class="text-success">Trả phí</span>
                                    <span ng-if="item.ISFREETRIAL" class="text-secondary">Dùng thử</span>
                                </div>
                            </td>

                            <td colspan="7" class="border-warning">
                                <table class="table table-sm table-hover">
                                    <tbody>
                                        <tr ng-repeat="a in item.ListSummaryDetail track by $index">
                                            <td class="text-center">{{a.FORMCODE}} - {{a.SYMBOLCODE}}</td>
                                            <td style="width: 60px" class="text-right">{{a.FROMNUMBER}}</td>
                                            <td style="width: 100px" class="text-right">{{a.TONUMBER}}</td>
                                            <td style="width: 100px" class="text-right">{{a.TOTALNUMBER}}</td>
                                            <td style="width: 100px" class="text-right">{{a.USEDNUMBER}}</td>
                                            <td style="width: 100px" class="text-center" ng-class="{'text-blue': a.NUMBERSTATUSID == 1, 'text-red': a.NUMBERSTATUSID == 2, 'text-green': a.NUMBERSTATUSID == 3}">{{a.NUMBERSTATUSNAME}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

