<div id="preparing-file-modal" title="Preparing report..." style="display: none;">
    We are preparing your report, please wait...

    <div class="ui-progressbar-value ui-corner-left ui-corner-right" style="width: 100%; height:22px; margin-top: 20px;"></div>
</div>
<div id="error-modal" title="Error" style="display: none;">
    There was a problem generating your report, please try again.
</div>
<div ng-init="GetMeter(1)">
    <div class="d-flex justify-content-between">
        <h2><strong>Danh sách công tơ</strong></h2>
        <div class="btn-group btn-sm">
            @*<button go-click="/quan-ly-danh-muc" class="btn btn-default mr-4 btn-manage-product">&nbsp; Quản lý danh mục</button>*@
            <button type="button" class="btn btn-success waves-effect waves-classic" style="cursor:pointer;" ng-click="ModalMeter(Meter.CUSTAXCODE, 1)" data-target=".modal-add-meter" data-toggle="modal"><span class="fa fa-plus"></span> &nbsp; Thêm mới</button>
            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu" ng-if="Enterprise.ISFREETRIAL === false">
                <a class="dropdown-item" href="javascript:;" ng-click="OpenImportMeterModal()" title="">Tạo hàng loạt từ file excel</a>
            </div>
        </div>
    </div>

    <div class="border mt-2">
        <div class="bg-white header-filter px-3 py-2">
            <div class="d-flex justify-content-between mt-2">
                <div class="d-flex justify-content-center align-items-center">
                    <input type="text" name="categoryandservice" id="productandservice" class="form-control input100 input-text" placeholder="Tìm kiếm công tơ" ng-model="Filter.KEYWORD" my-enter="ReloadMeter(1)" />
                    <div class="btn-group " style="padding-left:5px;">
                        <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown">
                            Xử lý hàng loạt
                        </button>
                        <div class="dropdown-menu dropdown-menu-sm modal-form" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item fa fa-trash-o" href="javascript:;" ng-click="RemoveMeter()"> Xóa</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="button-circle-hover" @*ng-hide="IsSelectAll"*@><span class="fa fa-download" title="Tải xuống file dữ liệu" ng-click="ExportExcel()"></span></div>
                    <div class="button-circle-hover" data-toggle="dropdown" @*ng-hide="IsSelectAll"*@>
                        <span class="fa fa-cog" title="Thiết lập cột hiển thị"></span>
                    </div>
                    <div class="dropdown-menu p-3 dropdown-menu-settings modal-form">
                        <form class="frm_custom_view_column">
                            <p class="mb-0">Cột</p>
                            <label for="cbx_id" class="label-cbx">
                                <input id="cbx_id" type="checkbox" class="invisible" ng-model="cookie.FieldID" ng-click="Check(cookie.FieldID,'FieldID')">
                                <span class="checkbox">
                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </span>
                                <span class="cbx-text">ID</span>
                            </label>

                            <label for="cbx_name" class="label-cbx">
                                <input id="cbx_name" type="checkbox" class="invisible" ng-model="cookie.FieldCode" ng-click="Check(cookie.FieldCode,'FieldCode')">
                                <span class="checkbox">
                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </span>
                                <span class="cbx-text">Mã công tơ</span>
                            </label>

                            <label for="cbx_sku_code" class="label-cbx">
                                <input id="cbx_sku_code" type="checkbox" class="invisible" ng-model="cookie.FieldMeterName" ng-click="Check(cookie.FieldMeterName,'FieldMeterName')">
                                <span class="checkbox">
                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </span>
                                <span class="cbx-text">Tên công tơ</span>
                            </label>
                            <label for="cbx_type" class="label-cbx">
                                <input id="cbx_type" type="checkbox" class="invisible" ng-model="cookie.FieldCustaxCode" ng-click="Check(cookie.FieldCustaxCode,'FieldCustaxCode')">
                                <span class="checkbox">
                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </span>
                                <span class="cbx-text">Mã khách hàng</span>
                            </label>

                            <div class="report_col_show_more">
                                @*<label for="cbx_category" class="label-cbx">
                <input id="cbx_category" type="checkbox" class="invisible" ng-model="cookie.FieldComtaxCode" ng-click="Check(cookie.FieldComtaxCode,'FieldComtaxCode')">
                <span class="checkbox">
                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                        <polyline points="4 11 8 15 16 6"></polyline>
                    </svg>
                </span>
                <span class="cbx-text">MST Doanh nghiệp</span>
            </label>*@

                                <label for="cbx_description" class="label-cbx">
                                    <input id="cbx_description" type="checkbox" class="invisible" ng-model="cookie.FieldProductCode" ng-click="Check(cookie.FieldProductCode,'FieldProductCode')">
                                    <span class="checkbox">
                                        <svg width="20px" height="20px" viewBox="0 0 20 20">
                                            <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                            <polyline points="4 11 8 15 16 6"></polyline>
                                        </svg>
                                    </span>
                                    <span class="cbx-text">Mã biểu giá điện</span>
                                </label>
                            </div>

                            <div class="text-right" id="id1" onclick="See_more_meter();"><a href="javascript:;" ng-click="ToggleShowMore('.report_col_show_more')" data-toggle="report_col_show_more">Xem thêm <span class="dropdown-toggle"></span></a></div>
                            <div class="text-right dropup" id="id2" onclick="Collapse_Cus();" style="display:none;"><a href="javascript:;" ng-click="ToggleShowMore('.report_col_show_more')" data-toggle="report_col_show_more">Thu gọn <span class="dropdown-toggle"></span></a></div>
                            <p class="mb-1 mt-3">Hàng</p>
                            <div class="d-flex align-items-center">
                                <div class="pr-2">
                                    <select class="form-control form-control-sm ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" ng-model="cookie.RowNum" convert-to-number="" ng-change="Check(cookie.RowNum,'RowNum')">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <span>Hiển thị</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-filter mt-2 table_overflow_absolute onscrollbar">
            <table class="bg-white table table-bordered  table-sm table-vertical-center table-head-green table-hover ">
                <thead class="text-center">
                    <tr>
                        <th class="text-center">
                            <label for="cbx_title" class="label-cbx">
                                <input id="cbx_title" type="checkbox" class="invisible" ng-click="SelectAll()" ng-model="IsSelectAll" ng-init="IsSelectAll = false">
                                <span class="checkbox">
                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </span>
                            </label>
                        </th>
                        <th class="text-right" ng-show="cookie.FieldID">ID</th>
                        <th ng-show="cookie.FieldCode" width="20%">Mã công tơ</th>
                        <th ng-show="cookie.FieldMeterName">Tên công tơ</th>
                        <th ng-show="cookie.FieldCustaxCode">Mã khách hàng</th>
                        @*<th ng-show="cookie.FieldComtaxCode">MST Doanh nghiệp</th>*@
                        <th ng-show="cookie.FieldProductCode">Mã biểu giá điện</th>
                        <th class="text-right" style="width: 135px">Hành động</th>
                    </tr>
                </thead>
                <tbody class="product-table">
                    <tr class="data" ng-hide="ListMeter.length > 0">
                        <td colspan="12">Dữ liệu đang trống!</td>
                    </tr>
                    <tr ng-repeat="item in ListMeter">
                        <td class="text-center">
                            <label for="cbx_{{$index}}" class="label-cbx">
                                <input id="cbx_{{$index}}" type="checkbox" class="invisible cbx-id" ng-model="item.ISSELECTED" ng-click="SeleteRow(item.ISSELECTED)">
                                <span class="checkbox">
                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </span>
                            </label>
                        </td>
                       
                        <td class="text-right" ng-show="cookie.FieldID">
                            <label>{{$index + 1}}</label>
                        </td>
                        <td ng-show="cookie.FieldCode">
                            <label>{{item.CODE}}</label>
                        </td>
                        <td ng-show="cookie.FieldMeterName">
                            <label>{{item.METERNAME}}</label>
                        </td>
                        <td ng-show="cookie.FieldCustaxCode">
                            <label>{{item.CUSTAXCODE}}</label>
                        </td>
                        @*<td ng-show="cookie.FieldComtaxCode">
                            <label>{{item.COMTAXCODE}}</label>
                        </td>*@
                        <td ng-show="cookie.FieldProductCode">
                            <label>{{item.PRODUCTCODE}}</label>
                        </td>
                        <td class="text-right" style="width:135px;">
                            <div class="btn-group btn-sm">
                                <button type="button" class="btn btn-link btn-sm" ng-click="ModalMeter(item, 2)" data-toggle="modal" data-target=".modal-add-meter" title="Chỉnh sửa"><span class="fa fa-pencil-square-o color_btn"></span></button>
                                <button type="button" class="btn btn-link btn-sm" ng-click="ModalMeter(item, 3)" data-toggle="modal" data-target=".modal-add-meter" title="Sao chép" ><span class="fa fa-files-o color_btn"></span></button>
                                <button type="button" class="btn btn-link btn-sm" ng-click="RemoveMeter(item)" title="Xóa" ><span class="fa fa-trash-o fa-2x color_btn"></span></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="paging-absolute" ng-hide="ListMeter.length < 1">
            <table class="table table-bordered table-sm table-vertical-center table-head-green">
                <tr>
                    <td class="text-left border-0 " colspan="3" ng-model="currentpage">
                        <div class="mt-2 ml-4 pagination-area">
                            <label class="pagination-current">{{(currentpage - 1) * cookie.RowNum + 1}}  - {{currentpage * cookie.RowNum > TotalRow ? TotalRow : currentpage * cookie.RowNum}}  trong <strong>{{TotalRow}}</strong> bản ghi</label>
                        </div>
                    </td>
                    <td class="text-right border-0" colspan="10" ng-model="currentpage">
                        <div class="mt-2 mr-4 pagination-area">
                            <button class="pagination-first" ng-disabled="currentpage == 1" ng-click="GetMeter(1)">< Đầu tiên</button>
                            <button class="pagination-previous" ng-disabled="currentpage == 1" ng-click="GetMeter(currentpage - 1)">Trước</button>
                            <label class="pagination-current"><strong>{{currentpage}}/{{TotalPages}}</strong></label>
                            <button class="pagination-next" ng-disabled="currentpage == TotalPages" ng-click="GetMeter(currentpage + 1)">Sau</button>
                            <button class="pagination-last" ng-disabled="currentpage == TotalPages" ng-click="GetMeter(TotalPages)">Cuối cùng ></button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>