@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
    ViewBag.Title = "Forgot password - NOVAON EINVOICE";
}
<style>
    .error {
        display: none;
        color: red;
        font-size: 14px;
    }
</style>
<div class="forgot frm_forgot" id="popop-login">
    <p class="logo text-center"><img src="~/Images/logo_full.jpg" /></p>
    <div class="message-login-form text-center">
        Bạn quên mật khẩu?
    </div>

    <p class="text-center">
        Chúng tôi sẽ gửi cho bạn mật khẩu mới, bạn vui lòng nhập tài khoản và đặt lại mật khẩu.
    </p>

    <form class="validate-form" >
        <div>
            <span class="error">*<span id="errorMessgage"></span></span>
        </div>
        <div class="wrap-input100 validate-input">
            <input type="text" name="phone-email" id="phone-email" class="form-control input100 input-text" />
            <span class="focus-input100">Số điện thoại/Email</span>
        </div>

        <button class="btn btn-success btn-block mt-3 btn-register" id="btn_finish" type="button" onclick="ForgotPasswordRequest()" >     
            <img src="~/Images/oval-white-loading.svg"/>
            Hoàn tất
        </button>
    </form>


    <p class="link-active text-center">
        Bạn đã có tài khoản? <a href="/user-account/login" class="text-primary">Đăng nhập</a>
    </p>
    <p class="clear"></p>
</div>

