<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/mini-logo.png" type="image/x-icon">

    <meta name=keywords content="Novaon">
    <meta data-react-helmet="true" name="description" content="Novaon ✅" />
    <link rel=canonical href=https://novaon.vn>
    <meta http-equiv=x-dns-prefetch-control content="on">
    <meta name=robots content="index, follow">
    <meta name=theme-color content="#2CA01C">
    <meta name=format-detection content="telephone=no">
    <meta http-equiv=audience content="General">
    <meta name=resource-type content="Document">
    <meta name=distribution content="Global">
    <meta name=revisit-after content="1 days">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta http-equiv=x-dns-prefetch-control content="on">

    <meta itemprop="name" content="Novaon">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


</head>
<body>

    @RenderBody()

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/daterangepicker.min.js"></script>
    <script src="~/Scripts/jquery.fileDownload.js"></script>
    <script src="~/Scripts/login.js"></script>
</body>
</html>
