@font-face {
    font-family: Material-Design-Iconic-Font;
    src: url(/fonts/Material-Design-Iconic-Font.woff2?v=2.2.0) format('woff2'), url(/fonts/Material-Design-Iconic-Font.woff?v=2.2.0) format('woff'), url(/fonts/Material-Design-Iconic-Font.ttf?v=2.2.0) format('truetype')
}

html, body {
    font-family: 'Roboto', sans-serif;
}

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('/Images/bg_login.png');
    background-repeat: no-repeat;
}

*:focus {
    outline: 0;
}

textarea:focus, input:focus {
    outline: 0;
    box-shadow: none !important;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-selected {
    -webkit-text-fill-color: #495057;
    transition: background-color 5000s ease-in-out 0s;
    background-color: transparent !important;
}

/*input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}*/

#popop-login {
    position: relative;
    width: 460px;
    margin: 0 auto;
    margin-top: 100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    padding: 30px;
    padding-bottom: 80px;
    color: #333333;
    -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.28);
}

    #popop-login .logo img {
        width: 159px;
        margin: 0 auto;
    }

.message-login-form {
    margin: 0 auto;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0;
    color: #333333;
    padding-top: 20px;
}

.btn-register {
    height: 48px;
}

.login-with-google {
    position: relative;
    display: block;
    width: 100%;
    height: 48px;
    background: #3E82F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #3E82F7;
    border-radius: 3px;
    border: none;
    font-size: 20px;
    color: #fff;
}

    .login-with-google .icon-g {
        position: absolute;
        top: 1px;
        left: 1px;
        width: 46px;
        height: 46px;
        border-radius: 3px;
        background-color: #fff;
        background-image: url('/Images/g-icon.png');
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: center;
    }

.text-line-center {
    position: relative;
    margin-top: 35px;
    border-top: 1px solid #D9DEDB;
}

    .text-line-center span {
        display: block;
        width: 78px;
        margin: 0 auto;
        background: #fff;
        padding: 0 20px;
        font-size: 16px;
        margin-top: -12px;
        color: #808080;
    }

.input-text {
    height: 48px;
    margin-top: 12px;
}

.link-active {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    font-size: 14px;
}

    .link-active a {
        text-decoration: underline !important;
    }

/*Check box*/
.label-cbx {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
    padding-top: 10px;
}

    .label-cbx input:checked + .checkbox {
        border-color: #3E82F7;
    }

        .label-cbx input:checked + .checkbox svg path {
            fill: #3E82F7;
        }

        .label-cbx input:checked + .checkbox svg polyline {
            stroke-dashoffset: 0;
        }

    .label-cbx:hover .checkbox svg path {
        stroke-dashoffset: 0;
    }

    .label-cbx .checkbox {
        position: relative;
        top: 3px;
        float: left;
        margin-right: 8px;
        width: 20px;
        height: 20px;
        border: 2px solid #C8CCD4;
        border-radius: 3px;
    }

        .label-cbx .checkbox svg {
            position: absolute;
            top: -2px;
            left: -2px;
        }

            .label-cbx .checkbox svg path {
                fill: none;
                stroke: #3E82F7;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 71px;
                stroke-dashoffset: 71px;
                transition: all 0.6s ease;
            }

            .label-cbx .checkbox svg polyline {
                fill: none;
                stroke: #FFF;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 18px;
                stroke-dashoffset: 18px;
                transition: all 0.3s ease;
            }

    .label-cbx > .cbx-text {
        vertical-align: middle;
        font-size: 13px;
        display: table-cell;
    }

.invisible {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}

/*end checkbox*/

/*Animotion*/
.focus-input100 {
    position: absolute;
    top: 12px;
    left: 12px;
    pointer-events: none;
    color: #999999;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    padding-right: 5px;
}

.input100:focus + .focus-input100 {
    top: -10px;
    font-size: 14px;
}

.focus-input100 span {
    color: red;
}

.has-val.input100 + .focus-input100,
input:-webkit-autofill + .focus-input100,
input:-webkit-autofill:hover + .focus-input100,
input:-webkit-autofill:focus + .focus-input100,
input:-internal-autofill-selected + .focus-input100 {
    top: -10px;
    font-size: 14px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}

.btn-show-pass {
    font-size: 18px;
    color: #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 15px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    .btn-show-pass:hover {
        color: #6a7dfe;
    }

.validate-input {
    position: relative;
}

.zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.zmdi-eye:before {
    content: '\f15c';
}

.zmdi-eye-off:before {
    content: '\f15b'
}

/*End Animotion*/

a.link-reference {
    font-size: 14px;
}
#resultBox {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    top: 130px;
    background: #fff;
    overflow: auto;
    z-index: 1;
}
.boxpages {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: #E9ECEF;
    border-top: 1px solid #CED4DA;
    z-index: 2;
}
    .boxpages .page {
        border: 1px solid #227D15;
        padding: 3px 10px;
        margin: 0 5px;
        background: #2CA01C;
        color: #fff;
        cursor: pointer;
    }
    .page.current, .boxpages .page:hover {
        color: yellow;
        font-weight: bold;
    }
@media (min-width: 320px) and (max-width: 480px) {
    body {
        background-image: none;
    }

    #popop-login {
        width: 100%;
        margin-top: 0;
        box-shadow: none;
        border-radius: 0;
    }

        #popop-login .logo img {
            width: 100px;
        }
}

@media (min-width: 1200px) and (max-width: 1367px) {
    #popop-login {
        margin-top: 10px;
    }
        #popop-login .logo img {
            width: 100px;
        }
        #popop-login.frm_register {
            padding-bottom: 45px;
        }
}

@media (max-width : 1367px) {
    .message-login-form {
        padding-top: 0;
        font-size: 20px;
    }
}